
#main-content-area{
	margin-right: auto;
	margin-left: auto;
	width:1000px;
	border: 2px solid white;
	background-color: #333333;
	box-shadow: 10px 10px 20px black;
}

#banner{
	margin-top: 175px;
	width: 950px;
	height: 250px;
	margin-left: auto;
	margin-right:auto;
	border: 2px solid black;
}

#event-area{
	margin-top: 10px;
	border: 2px solid black;
}
#tutorials:hover .module-heading,
#find-me-area:hover .module-heading,
#event-area:hover .module-heading,
#gallery-area:hover .module-heading,
#social-media-area:hover .module-heading
{
	background-color: #ff6363;
	transition: all 0.2s ease-in;
	-webkit-transition: background 0.2s,linear 0s,color:0.2s, linear 0s; /*Safari & Chrome*/
}

.event-poster{
	/*position:relative;*/
	height:300px;
	width:200px;
	margin-left:10px; 
	margin-right:10px;
	background-color: white;
	border: 2px solid black;
    /*border-radius: 15px;*/

}
.event-poster img{
	height:100%;
	width:100%;
}

.event-poster:hover{
	box-shadow: 10px 10px 20px black;
	border: 2px solid white;
}
.event-poster .event-info{
	visibility: hidden;
	position: absolute;
	bottom:0px;
	width:200px;
	height:100px;
	background-color: black;
	-webkit-animation: expand 3s;
}
.event-poster:hover .event-info{
	animation-name: eventinfo;
	visibility: visible;
	opacity: 0.5;
}
@-webkit-keyframes expand{
    from {height:0px}
    to {height:100px}
}
#tutorials{
	border: 1px solid white;
}
.tutorial-banner{
	margin:15px;
	margin-top: 5px;
	margin-bottom: 20px;
	height:250px;
	width:220px;
	background-color: white;
	border: 2px solid black;
}

#tutorial-findme{
	margin-top: 10px;
	border: 2px solid black;
}

#find-me-area{
	border: 2px solid blue;
	float:right;
	width:350px;
}

#gallery-area{
	margin-top: 10px;
	border: 2px solid black;
	width:100%;
}
.gallery-prev{
	margin:10px;
	margin-bottom:20px;
	height:100px;
	width:100px;
	background-color: white;
	border: 2px solid black;
	box-shadow: 10px 10px 20px black;
}
#gallery-right{
	border: 2px solid blue;
	margin:auto;
}
#gallery-left{
	border: 2px solid red;
	margin:auto;
}
#social-media-area{
	margin-top: 10px;
	border: 2px solid black;
	width: 600px;
	height: 200px;
}
.social-icon{
	margin-top: 10px;
	margin-right: 30px;
	margin-left: 30px;
	margin-bottom:20px;
	height:100px;
	width:100px;
	background-color: white;
	border: 2px solid black;
	box-shadow: 10px 10px 20px black;
}
/*about-us CSS*/
#who-we-are{
	margin-top:200px;
}
/*profile CSS*/
#cpanel-area{
	margin-top:160px;
	height: 600px;
	background-color: #ddd;	
}